/* ================================================================ */
/* ============== COMBINE SERVER AND MEMBER CHANNELS ============== */
/* ================================================================ */

.channels-3g2vYe .scroller-fzNley {
    max-height: 41vh;
    padding-top: 30px;
    padding-bottom: 11px;
}

.channel-members {
    background-color: var(--channels-color)!important;
    padding-bottom: 5px;
    max-height: 40vh;
}

.container-3lnMWU {
    z-index: 101;
}

.channel-members-wrap {
    position: fixed;
    left: 70px;
    z-index: 1;
    top: 48vh;
    margin-top: 75px;
    box-shadow: 0 -60px 70px -40px var(--chat-color);
    width: 239px;
    min-width: 239px;
}

.channel-members-wrap .scrollerWrap-2uBjct {
    border-left: 1px solid var(--titlebar-color)!important;
}

.channels-3g2vYe .private-channels .scroller-fzNley {
    max-height: 100%;
}

.channels-3g2vYe .private-channels .scroller-fzNley::before {
    display: none;
}

.channels-3g2vYe .unreadBottom-2LxhSR {
    bottom: 486px;
    z-index: 2;
}

.channel-members::before, .channels-3g2vYe .scroller-fzNley::before {
    content: 'Members List';
    font-size: 12px;
    text-transform: uppercase;
    height: auto;
    line-height: 1px;
    width: 239px;
    background: var(--titlebar-color);
    color: #fff;
    position: fixed;
    z-index:9;
    padding: 15px 0px 15px 14px;
    margin-top: -30px;
    box-sizing: border-box;
    margin-left: -1px;
}

.channels-3g2vYe .scroller-fzNley::before {
    content: 'Channels List';
}

.channels-3g2vYe .private-channels .scroller-fzNley  {
    padding-top: 0;
}

.guilds-wrapper .guilds .friends-online {
    margin: 40px 0 -2px 0;
    color: #fff;
    line-height: 14px;
}

.popout-left .userPopout-4pfA0d {
    left: 372px;
}